$color_header: #4d98a4;
$color_text-title: #4c505d;
$border_color-form: #d8d8d8;
@font-face{
  font-family: "CherrySwash-Regular";
  src : url("../font/CherrySwash-Regular.ttf");
}
@font-face{
  font-family: "Helvetica LT Condensed Medium";
  src : url("../font/Helvetica LT Condensed Medium.ttf");
}
@font-face{
  font-family: "Helvetica LT Condensed Light";
  src : url("../font/lte50050.ttf");
}
@font-face{
  font-family: "HelveticaLTStd-Roman";
  src : url("../font/HelveticaLTStd-Roman.otf");
}
@font-face{
  font-family: "HelveticaLTStd-Bold";
  src : url("../font/HelveticaLTStd-Bold.otf");
}


.header{
  background-color: $color_header;
  width: 100%;
  height: 87px;
}

.header .container{
  height: inherit;
}

.header-nav{
  height: inherit;
  div{
    z-index: 99;
  }
}

.header__logo_text{
  font-family: CherrySwash-Regular;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 185px;
}

.bg-menu-color{
  background-color: $color_header;
  text-align: center;
  font-family: Helvetica LT Condensed Medium;
  a{
    color: #ffffff !important;
  }
}

@media (min-width: 992px) {
  .bg-menu-color li:not(:last-child) span::before {
    content: " / ";
    margin: 0 10px;
     }
  .nav-link{
    padding-right: 0 !important;
  }
}

.container-fluid{
  padding: 0;
}

.carousel-indicators li{
  border-radius: 20px;
  height: 10px;
  width: 10px;
  margin: 0 10px;
}

.banner-text{
  display: inline-block;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 50%;
  text-align: center;
  color: #ffffff;
  right: 0;
  margin-top: -76px;
}
@media (max-width: 992px) {
  .banner-text h1 {
    font-size: 2rem;
  }
}
.bl-banner{
  min-height: 255px;
  position: relative;
}
.carousel-item img{
  min-height: 250px !important;
}

.button button{
  width: 233px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid $color_text-title;
  color: #afb1b4;
  font-size: 26px;
}

.bl-info h2{
  color: $color_text-title;
  font-family: Helvetica LT Condensed Light;
  text-align: center;
  margin-bottom: 25px;
}

.bl-info{
  font-family: HelveticaLTStd-Roman;
  color: $color_text-title;
  text-align: center;
  padding-top: 89px;
}
.bl-about{
  background-color: #00d089;
  padding-bottom: 97px;
}
.icons{
  list-style: none;
  margin: 40px 0px;
  padding-left: 0;
  li{
    display: inline-block;
    margin: 0 6%;
  }
}

.bl-foto{
  margin: 0 auto;
  width: 300px;
  padding-top: 96px;

}
.name{
  font-size: 26px;
  font-family: HelveticaLTStd-Bold;
  color: #e4e4e4;
  padding-left: 38px;
}
.bl-about p{
  text-align: center;
  color: #ffffff;
  margin-top: 65px;
}
.dot{
  font-size: 78px;
}

.bl-feedback{
  padding-bottom: 20px;
  width: 100%;
  background: url("../img/map.jpg") no-repeat center center;
  background-size: cover;
  .row{
    width: 100%;
    margin: 0;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 79px 0 31px 71px;
    border-radius: 241px;
    overflow: hidden;
    width: 415px;
    form{
      max-width: 274px;
    }
    input{
      width: 100%;
      height: 34px;
      margin: 7px 0;
      border: 2px solid $border_color-form;
      padding-left: 13px;
    }
    input[type=submit]{
      width: 66px;
      height: 66px;
      border-radius: 54px;
      background: url("../img/submit.png") no-repeat center center;
    }
    textarea{
      width: 100%;
      height: 82px;
      margin: 7px 0;
      border: 2px solid $border_color-form;
      resize: none;
      padding-left: 13px;
    }
  }
}
@media (max-width: 400px) {
  .form {
    padding: 58px 0px 0 52px !important;
  }
}

.footer{
  height: 39px;
  background-color: #00d089;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  font-family: "Helvetica LT Condensed Medium";
}